html {
    scroll-behavior: smooth;
}

html,
body,
#root {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #ECECEC;
}

* {
    -webkit-tap-highlight-color: transparent !important;
}

.skill, .project {
    transition: all 0.4s ease-in-out;
}

.skill:hover, .project:hover {
    transform: translateY(-10px);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


